<h2>Parties</h2>

<table class="table">
    <thead>
        <tr>
            <th>Party</th>
            <th>Members</th>
            <th>Films</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Work</td>
            <td>4</td>
            <td>40</td>
        </tr>
        <tr>
            <td>Max</td>
            <td>2</td>
            <td>111</td>
        </tr>
        <tr>
            <td><input class="form-control" ng-model="ctrl.AddPartyName" /></td>
            <td><button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.usersService.logout()">Add</button></td>
            <td> </td>
        </tr>

    </tbody>
</table>